# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
blis=0.7.4=pypi_0
brotli=1.0.9=pypi_0
ca-certificates=2021.5.25=haa95532_1
catalogue=2.0.4=pypi_0
certifi=2021.5.30=py38haa95532_0
chardet=4.0.0=pypi_0
chart-studio=1.1.0=pypi_0
click=7.1.2=pypi_0
colorama=0.4.4=pypi_0
cycler=0.10.0=pypi_0
cymem=2.0.5=pypi_0
dash=1.20.0=pypi_0
dash-auth=1.4.1=pypi_0
dash-bootstrap-components=0.12.2=pypi_0
dash-core-components=1.16.0=pypi_0
dash-html-components=1.1.3=pypi_0
dash-renderer=1.9.1=pypi_0
dash-table=4.11.3=pypi_0
emoji=1.2.0=pypi_0
flask=2.0.1=pypi_0
flask-compress=1.10.1=pypi_0
flask-seasurf=0.3.0=pypi_0
fr-core-news-sm=3.0.0=pypi_0
future=0.18.2=pypi_0
idna=2.10=pypi_0
itsdangerous=2.0.1=pypi_0
jinja2=3.0.1=pypi_0
joblib=1.0.1=pypi_0
kiwisolver=1.3.1=pypi_0
markupsafe=2.0.1=pypi_0
matplotlib=3.4.2=pypi_0
murmurhash=1.0.5=pypi_0
nltk=3.6.2=pypi_0
numpy=1.21.0=pypi_0
openssl=1.1.1k=h2bbff1b_0
packaging=20.9=pypi_0
pandas=1.2.5=pypi_0
pathy=0.6.0=pypi_0
pillow=8.2.0=pypi_0
pip=21.1.2=py38haa95532_0
plotly=5.1.0=pypi_0
preshed=3.0.5=pypi_0
pydantic=1.7.4=pypi_0
pyparsing=2.4.7=pypi_0
python=3.8.10=hdbf39b2_7
python-dateutil=2.8.1=pypi_0
pytz=2021.1=pypi_0
regex=2021.4.4=pypi_0
requests=2.25.1=pypi_0
retrying=1.3.3=pypi_0
setuptools=52.0.0=py38haa95532_0
six=1.16.0=pypi_0
smart-open=5.1.0=pypi_0
spacy=3.0.6=pypi_0
spacy-legacy=3.0.6=pypi_0
sqlite=3.36.0=h2bbff1b_0
srsly=2.4.1=pypi_0
tenacity=7.0.0=pypi_0
textblob=0.15.3=pypi_0
thinc=8.0.6=pypi_0
tqdm=4.61.1=pypi_0
typer=0.3.2=pypi_0
ua-parser=0.10.0=pypi_0
urllib3=1.26.6=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wasabi=0.8.2=pypi_0
werkzeug=2.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
wincertstore=0.2=py38_0
wordcloud=1.8.1=pypi_0
